<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qxcjs.mybatis.dao.TableDependInfoMapper" >
  <resultMap id="BaseResultMap" type="com.qxcjs.mybatis.domain.TableDependInfo" >
    <id column="Findex" property="findex" jdbcType="INTEGER" />
    <result column="Fhost_key" property="fhostKey" jdbcType="INTEGER" />
    <result column="Fhost_id" property="fhostId" jdbcType="VARCHAR" />
    <result column="Fdatabase_key" property="fdatabaseKey" jdbcType="INTEGER" />
    <result column="Fdatabase_name" property="fdatabaseName" jdbcType="VARCHAR" />
    <result column="Ftable_key" property="ftableKey" jdbcType="INTEGER" />
    <result column="Ftable_name" property="ftableName" jdbcType="VARCHAR" />
    <result column="Fdepend_host_key" property="fdependHostKey" jdbcType="INTEGER" />
    <result column="Fdepend_host_id" property="fdependHostId" jdbcType="VARCHAR" />
    <result column="Fdepend_database_key" property="fdependDatabaseKey" jdbcType="INTEGER" />
    <result column="Fdepend_database_name" property="fdependDatabaseName" jdbcType="VARCHAR" />
    <result column="Fdepend_table_key" property="fdependTableKey" jdbcType="INTEGER" />
    <result column="Fdepend_table_name" property="fdependTableName" jdbcType="VARCHAR" />
    <result column="fbelong_system" property="fbelongSystem" jdbcType="VARCHAR" />
    <result column="Fuse_flag" property="fuseFlag" jdbcType="INTEGER" />
    <result column="fremark" property="fremark" jdbcType="VARCHAR" />
    <result column="Fcreate_time" property="fcreateTime" jdbcType="TIMESTAMP" />
    <result column="Fmodify_time" property="fmodifyTime" jdbcType="TIMESTAMP" />
    <result column="Fmodify_user" property="fmodifyUser" jdbcType="VARCHAR" />
    <result column="Fversion" property="fversion" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    Findex, Fhost_key, Fhost_id, Fdatabase_key, Fdatabase_name, Ftable_key, Ftable_name, 
    Fdepend_host_key, Fdepend_host_id, Fdepend_database_key, Fdepend_database_name, Fdepend_table_key, 
    Fdepend_table_name, fbelong_system, Fuse_flag, fremark, Fcreate_time, Fmodify_time, 
    Fmodify_user, Fversion
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.qxcjs.mybatis.domain.TableDependInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_table_depend_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_table_depend_info
    where Findex = #{findex,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_table_depend_info
    where Findex = #{findex,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.qxcjs.mybatis.domain.TableDependInfoExample" >
    delete from t_table_depend_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.qxcjs.mybatis.domain.TableDependInfo" >
    <selectKey resultType="java.lang.Integer" keyProperty="findex" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_table_depend_info (Fhost_key, Fhost_id, Fdatabase_key, 
      Fdatabase_name, Ftable_key, Ftable_name, 
      Fdepend_host_key, Fdepend_host_id, Fdepend_database_key, 
      Fdepend_database_name, Fdepend_table_key, Fdepend_table_name, 
      fbelong_system, Fuse_flag, fremark, 
      Fcreate_time, Fmodify_time, Fmodify_user, 
      Fversion)
    values (#{fhostKey,jdbcType=INTEGER}, #{fhostId,jdbcType=VARCHAR}, #{fdatabaseKey,jdbcType=INTEGER}, 
      #{fdatabaseName,jdbcType=VARCHAR}, #{ftableKey,jdbcType=INTEGER}, #{ftableName,jdbcType=VARCHAR}, 
      #{fdependHostKey,jdbcType=INTEGER}, #{fdependHostId,jdbcType=VARCHAR}, #{fdependDatabaseKey,jdbcType=INTEGER}, 
      #{fdependDatabaseName,jdbcType=VARCHAR}, #{fdependTableKey,jdbcType=INTEGER}, #{fdependTableName,jdbcType=VARCHAR}, 
      #{fbelongSystem,jdbcType=VARCHAR}, #{fuseFlag,jdbcType=INTEGER}, #{fremark,jdbcType=VARCHAR}, 
      #{fcreateTime,jdbcType=TIMESTAMP}, #{fmodifyTime,jdbcType=TIMESTAMP}, #{fmodifyUser,jdbcType=VARCHAR}, 
      #{fversion,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.qxcjs.mybatis.domain.TableDependInfo" >
    <selectKey resultType="java.lang.Integer" keyProperty="findex" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_table_depend_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fhostKey != null" >
        Fhost_key,
      </if>
      <if test="fhostId != null" >
        Fhost_id,
      </if>
      <if test="fdatabaseKey != null" >
        Fdatabase_key,
      </if>
      <if test="fdatabaseName != null" >
        Fdatabase_name,
      </if>
      <if test="ftableKey != null" >
        Ftable_key,
      </if>
      <if test="ftableName != null" >
        Ftable_name,
      </if>
      <if test="fdependHostKey != null" >
        Fdepend_host_key,
      </if>
      <if test="fdependHostId != null" >
        Fdepend_host_id,
      </if>
      <if test="fdependDatabaseKey != null" >
        Fdepend_database_key,
      </if>
      <if test="fdependDatabaseName != null" >
        Fdepend_database_name,
      </if>
      <if test="fdependTableKey != null" >
        Fdepend_table_key,
      </if>
      <if test="fdependTableName != null" >
        Fdepend_table_name,
      </if>
      <if test="fbelongSystem != null" >
        fbelong_system,
      </if>
      <if test="fuseFlag != null" >
        Fuse_flag,
      </if>
      <if test="fremark != null" >
        fremark,
      </if>
      <if test="fcreateTime != null" >
        Fcreate_time,
      </if>
      <if test="fmodifyTime != null" >
        Fmodify_time,
      </if>
      <if test="fmodifyUser != null" >
        Fmodify_user,
      </if>
      <if test="fversion != null" >
        Fversion,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fhostKey != null" >
        #{fhostKey,jdbcType=INTEGER},
      </if>
      <if test="fhostId != null" >
        #{fhostId,jdbcType=VARCHAR},
      </if>
      <if test="fdatabaseKey != null" >
        #{fdatabaseKey,jdbcType=INTEGER},
      </if>
      <if test="fdatabaseName != null" >
        #{fdatabaseName,jdbcType=VARCHAR},
      </if>
      <if test="ftableKey != null" >
        #{ftableKey,jdbcType=INTEGER},
      </if>
      <if test="ftableName != null" >
        #{ftableName,jdbcType=VARCHAR},
      </if>
      <if test="fdependHostKey != null" >
        #{fdependHostKey,jdbcType=INTEGER},
      </if>
      <if test="fdependHostId != null" >
        #{fdependHostId,jdbcType=VARCHAR},
      </if>
      <if test="fdependDatabaseKey != null" >
        #{fdependDatabaseKey,jdbcType=INTEGER},
      </if>
      <if test="fdependDatabaseName != null" >
        #{fdependDatabaseName,jdbcType=VARCHAR},
      </if>
      <if test="fdependTableKey != null" >
        #{fdependTableKey,jdbcType=INTEGER},
      </if>
      <if test="fdependTableName != null" >
        #{fdependTableName,jdbcType=VARCHAR},
      </if>
      <if test="fbelongSystem != null" >
        #{fbelongSystem,jdbcType=VARCHAR},
      </if>
      <if test="fuseFlag != null" >
        #{fuseFlag,jdbcType=INTEGER},
      </if>
      <if test="fremark != null" >
        #{fremark,jdbcType=VARCHAR},
      </if>
      <if test="fcreateTime != null" >
        #{fcreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="fmodifyTime != null" >
        #{fmodifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="fmodifyUser != null" >
        #{fmodifyUser,jdbcType=VARCHAR},
      </if>
      <if test="fversion != null" >
        #{fversion,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.qxcjs.mybatis.domain.TableDependInfoExample" resultType="java.lang.Integer" >
    select count(*) from t_table_depend_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_table_depend_info
    <set >
      <if test="record.findex != null" >
        Findex = #{record.findex,jdbcType=INTEGER},
      </if>
      <if test="record.fhostKey != null" >
        Fhost_key = #{record.fhostKey,jdbcType=INTEGER},
      </if>
      <if test="record.fhostId != null" >
        Fhost_id = #{record.fhostId,jdbcType=VARCHAR},
      </if>
      <if test="record.fdatabaseKey != null" >
        Fdatabase_key = #{record.fdatabaseKey,jdbcType=INTEGER},
      </if>
      <if test="record.fdatabaseName != null" >
        Fdatabase_name = #{record.fdatabaseName,jdbcType=VARCHAR},
      </if>
      <if test="record.ftableKey != null" >
        Ftable_key = #{record.ftableKey,jdbcType=INTEGER},
      </if>
      <if test="record.ftableName != null" >
        Ftable_name = #{record.ftableName,jdbcType=VARCHAR},
      </if>
      <if test="record.fdependHostKey != null" >
        Fdepend_host_key = #{record.fdependHostKey,jdbcType=INTEGER},
      </if>
      <if test="record.fdependHostId != null" >
        Fdepend_host_id = #{record.fdependHostId,jdbcType=VARCHAR},
      </if>
      <if test="record.fdependDatabaseKey != null" >
        Fdepend_database_key = #{record.fdependDatabaseKey,jdbcType=INTEGER},
      </if>
      <if test="record.fdependDatabaseName != null" >
        Fdepend_database_name = #{record.fdependDatabaseName,jdbcType=VARCHAR},
      </if>
      <if test="record.fdependTableKey != null" >
        Fdepend_table_key = #{record.fdependTableKey,jdbcType=INTEGER},
      </if>
      <if test="record.fdependTableName != null" >
        Fdepend_table_name = #{record.fdependTableName,jdbcType=VARCHAR},
      </if>
      <if test="record.fbelongSystem != null" >
        fbelong_system = #{record.fbelongSystem,jdbcType=VARCHAR},
      </if>
      <if test="record.fuseFlag != null" >
        Fuse_flag = #{record.fuseFlag,jdbcType=INTEGER},
      </if>
      <if test="record.fremark != null" >
        fremark = #{record.fremark,jdbcType=VARCHAR},
      </if>
      <if test="record.fcreateTime != null" >
        Fcreate_time = #{record.fcreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.fmodifyTime != null" >
        Fmodify_time = #{record.fmodifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.fmodifyUser != null" >
        Fmodify_user = #{record.fmodifyUser,jdbcType=VARCHAR},
      </if>
      <if test="record.fversion != null" >
        Fversion = #{record.fversion,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_table_depend_info
    set Findex = #{record.findex,jdbcType=INTEGER},
      Fhost_key = #{record.fhostKey,jdbcType=INTEGER},
      Fhost_id = #{record.fhostId,jdbcType=VARCHAR},
      Fdatabase_key = #{record.fdatabaseKey,jdbcType=INTEGER},
      Fdatabase_name = #{record.fdatabaseName,jdbcType=VARCHAR},
      Ftable_key = #{record.ftableKey,jdbcType=INTEGER},
      Ftable_name = #{record.ftableName,jdbcType=VARCHAR},
      Fdepend_host_key = #{record.fdependHostKey,jdbcType=INTEGER},
      Fdepend_host_id = #{record.fdependHostId,jdbcType=VARCHAR},
      Fdepend_database_key = #{record.fdependDatabaseKey,jdbcType=INTEGER},
      Fdepend_database_name = #{record.fdependDatabaseName,jdbcType=VARCHAR},
      Fdepend_table_key = #{record.fdependTableKey,jdbcType=INTEGER},
      Fdepend_table_name = #{record.fdependTableName,jdbcType=VARCHAR},
      fbelong_system = #{record.fbelongSystem,jdbcType=VARCHAR},
      Fuse_flag = #{record.fuseFlag,jdbcType=INTEGER},
      fremark = #{record.fremark,jdbcType=VARCHAR},
      Fcreate_time = #{record.fcreateTime,jdbcType=TIMESTAMP},
      Fmodify_time = #{record.fmodifyTime,jdbcType=TIMESTAMP},
      Fmodify_user = #{record.fmodifyUser,jdbcType=VARCHAR},
      Fversion = #{record.fversion,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.qxcjs.mybatis.domain.TableDependInfo" >
    update t_table_depend_info
    <set >
      <if test="fhostKey != null" >
        Fhost_key = #{fhostKey,jdbcType=INTEGER},
      </if>
      <if test="fhostId != null" >
        Fhost_id = #{fhostId,jdbcType=VARCHAR},
      </if>
      <if test="fdatabaseKey != null" >
        Fdatabase_key = #{fdatabaseKey,jdbcType=INTEGER},
      </if>
      <if test="fdatabaseName != null" >
        Fdatabase_name = #{fdatabaseName,jdbcType=VARCHAR},
      </if>
      <if test="ftableKey != null" >
        Ftable_key = #{ftableKey,jdbcType=INTEGER},
      </if>
      <if test="ftableName != null" >
        Ftable_name = #{ftableName,jdbcType=VARCHAR},
      </if>
      <if test="fdependHostKey != null" >
        Fdepend_host_key = #{fdependHostKey,jdbcType=INTEGER},
      </if>
      <if test="fdependHostId != null" >
        Fdepend_host_id = #{fdependHostId,jdbcType=VARCHAR},
      </if>
      <if test="fdependDatabaseKey != null" >
        Fdepend_database_key = #{fdependDatabaseKey,jdbcType=INTEGER},
      </if>
      <if test="fdependDatabaseName != null" >
        Fdepend_database_name = #{fdependDatabaseName,jdbcType=VARCHAR},
      </if>
      <if test="fdependTableKey != null" >
        Fdepend_table_key = #{fdependTableKey,jdbcType=INTEGER},
      </if>
      <if test="fdependTableName != null" >
        Fdepend_table_name = #{fdependTableName,jdbcType=VARCHAR},
      </if>
      <if test="fbelongSystem != null" >
        fbelong_system = #{fbelongSystem,jdbcType=VARCHAR},
      </if>
      <if test="fuseFlag != null" >
        Fuse_flag = #{fuseFlag,jdbcType=INTEGER},
      </if>
      <if test="fremark != null" >
        fremark = #{fremark,jdbcType=VARCHAR},
      </if>
      <if test="fcreateTime != null" >
        Fcreate_time = #{fcreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="fmodifyTime != null" >
        Fmodify_time = #{fmodifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="fmodifyUser != null" >
        Fmodify_user = #{fmodifyUser,jdbcType=VARCHAR},
      </if>
      <if test="fversion != null" >
        Fversion = #{fversion,jdbcType=INTEGER},
      </if>
    </set>
    where Findex = #{findex,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qxcjs.mybatis.domain.TableDependInfo" >
    update t_table_depend_info
    set Fhost_key = #{fhostKey,jdbcType=INTEGER},
      Fhost_id = #{fhostId,jdbcType=VARCHAR},
      Fdatabase_key = #{fdatabaseKey,jdbcType=INTEGER},
      Fdatabase_name = #{fdatabaseName,jdbcType=VARCHAR},
      Ftable_key = #{ftableKey,jdbcType=INTEGER},
      Ftable_name = #{ftableName,jdbcType=VARCHAR},
      Fdepend_host_key = #{fdependHostKey,jdbcType=INTEGER},
      Fdepend_host_id = #{fdependHostId,jdbcType=VARCHAR},
      Fdepend_database_key = #{fdependDatabaseKey,jdbcType=INTEGER},
      Fdepend_database_name = #{fdependDatabaseName,jdbcType=VARCHAR},
      Fdepend_table_key = #{fdependTableKey,jdbcType=INTEGER},
      Fdepend_table_name = #{fdependTableName,jdbcType=VARCHAR},
      fbelong_system = #{fbelongSystem,jdbcType=VARCHAR},
      Fuse_flag = #{fuseFlag,jdbcType=INTEGER},
      fremark = #{fremark,jdbcType=VARCHAR},
      Fcreate_time = #{fcreateTime,jdbcType=TIMESTAMP},
      Fmodify_time = #{fmodifyTime,jdbcType=TIMESTAMP},
      Fmodify_user = #{fmodifyUser,jdbcType=VARCHAR},
      Fversion = #{fversion,jdbcType=INTEGER}
    where Findex = #{findex,jdbcType=INTEGER}
  </update>
</mapper>