<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="student" class="com.qxcjs.ioc.setter.Student">
        <constructor-arg type="java.lang.String" value="liss"/>
        <constructor-arg value="1"/>
        <!-- setter 注入-->
        <property name="school" ref="school"/>
    </bean>

    <bean id="school" class="com.qxcjs.ioc.setter.School">
        <property name="name" value="仙桃市第十一中学"/>
        <property name="address" value="仙桃市工业园区"/>
    </bean>

</beans>